html { font-size: 62.5%; }

body{
  font-family: 'Droid Serif', serif;
  font-size: 1.8rem;
  text-align: center;
  color: #3f3736;
}

h1{
  font-family: 'Sacramento','Bradley Hand', cursive;
  font-size: 4.0rem;
  padding-top: 2.0rem;
  line-height: 5.0rem;
}

/* classes */
.highlighter{
  box-shadow: inset 0 -3rem 0 #fff2ac;
  transition: box-shadow .5s ease-out;
}

.highlighter:hover {
  box-shadow: inset 0 -3rem 0 #fff;
}

.key{
  border: 1.5px solid #3f3736;
  width: 200px;
  text-align: center;
}
