html {
  font-size: 62.5%;
  background-color: #0c2933;
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 1.8rem;
  text-align: center;
  color: #5c7479;
}

h1 {
  font-family: 'Sacramento','Bradley Hand', cursive;
  font-size: 4.0rem;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  line-height: 5.0rem;
  color: #84cdca;
  transition: all 0.5s ease-out;
}

h1:hover {
  color: #fde268;
}

.keys {
  padding-top: 4.5rem;
  display: grid;
  justify-content: center;
}

.key {
  border: 3px solid #84cdca;
  border-radius: 4px;
  margin: 0.6rem;
  padding: 1rem .7rem;

  text-align: center;
  background: rgba(132, 205, 202, 0.3);
  width: 300px;
  color: #d2dbaa;

  transition: all .07s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.playing {
  transform: scale(1.1);
  border-color: #fde268;
}

kbd {
  color: #5c7479;
}
